* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #ffffff;
    padding: 35px;
    border-radius: 10px;
    width: 380px;
    box-shadow: 0 15px 40px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #0f172a;
}

.input-area {
    display: flex;
    gap: 10px;
}

input {
    flex: 1;
    padding: 10px;
    border-radius: 6px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 14px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    font-weight: 600;
    transition: 0.3s;
}

#addTaskBtn {
    background: #38bdf8;
    color: #0f172a;
}

#addTaskBtn:hover {
    transform: translateY(-2px);
}

ul {
    list-style: none;
    margin-top: 25px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
    padding: 10px;
    background: #f1f5f9;
    border-radius: 6px;
}

li div button {
    margin-left: 5px;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
}